* {
  size: 100%;
  margin: 0;
  padding: 0;
  color: rgb(42, 42, 42);
  font-family: "Poppins", sans-serif;
}

/* UNTUK BODY DAN TITLE AWAL */
body {
  /* background-color: rgba(106, 171, 197, 0.842); */
  background-image: linear-gradient(
    rgb(198, 221, 240),
    rgba(143, 178, 192, 0.842),
    rgba(106, 171, 197, 0.842)
  );
  background-size: cover;
  background-repeat: no-repeat;
}

body h1 {
  padding-top: 30px;
}

body .welcome {
  color: rgba(36, 36, 35, 0.842);
  text-align: center;
  margin: auto;
  width: 100%;
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
  transition: 1s;
  animation: sizedown 2s;
}

body .welcome:hover {
  color: rgb(255, 255, 255);
  transform: translate(0, 10px);
}

/* ABOUT ME */
.about-me {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.about-me img {
  display: block;
  margin: 50px auto;
  height: 200px;
  width: 300px;
  border: 1px solid black;
  border-radius: 100%;
  transition: 2s;
}

.about-me img:hover {
  transform: scale(1.5, 1.5);
}

.about-me h1 {
  width: fit-content;
  text-align: center;
  margin: 50px auto;
  font-size: 50px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: 1s;
}

.about-me h1 span {
  color: rgb(43, 156, 231);
}

.about-me h1:hover {
  transform: translate(0, 10px);
  color: rgb(43, 156, 231);
}

.about-me p {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: auto;
  color: rgb(32, 32, 32);
  font-weight: 300;
}

.about-me p span {
  transition: 1s;
}

.about-me p span:hover {
  color: rgb(28, 145, 255);
  font-size: 29px;
}

/* UNTUK TABEL */
.tabel-main {
  height: 100%;
  width: 100%;
  margin: 30px auto;
}

.tabel-main .tabel-isi {
  height: 130px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.tabel-main .tabel-isi .header td {
  color: black;
  background-color: rgb(253, 255, 130);
  font-weight: bold;
  text-align: center;
}

.tabel-main .tabel-isi tr td {
  color: black;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 10px 0;
}

/* PORTFOLIO */
.portfolio {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.portfolio h1 {
  text-align: center;
  font-size: 35px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: white;
  transition: 1s;
}

.portfolio h1:hover {
  transform: translate(0, -20px);
  color: rgb(255, 243, 77);
}

.portfolio-foto {
  padding: 20px;
}

.portfolio-foto ul {
  width: fit-content;
  margin: auto;
}

.portfolio-foto ul li {
  display: inline;
  padding: 0 100px;
}

.portfolio-foto img {
  width: 100px;
  height: 100px;
  /* transition: 1s; */
  animation: move-up 3s infinite;
}

.portfolio-text {
  padding: 20px;
}

.portfolio-text ul {
  width: fit-content;
  margin: auto;
}

.portfolio-text ul li {
  display: inline;
  margin: 0 120px;
  font-size: 30px;
}

/* PROJECTS */
.projects {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.projects h1 {
  color: rgb(255, 255, 255);
  padding-top: 50px;
  margin-left: 280px;
  font-style: italic;
  color: rgb(255, 240, 106);
  transition: 1s;
  animation: change-color 5s infinite;
}

.projects .project-name {
  padding: 20px;
}

.project-name h3 {
  margin-left: 260px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 238, 86);
  transition: 1s;
}

.project-name h3:hover {
  color: rgb(253, 124, 4);
}

.project-name p {
  margin-left: 260px;
  font-size: 20px;
  color: rgb(235, 235, 235);
}

.project-name ul {
  width: fit-content;
  margin: auto;
}

.project-name ul li {
  display: inline;
  padding-top: 30px;
  margin: auto 150px;
  font-size: 35px;
  font-weight: 400;
}

.project-name ul li img {
  border-style: solid;
  border-color: rgb(56, 56, 56);
  margin-top: 70px;
  height: 200px;
  width: 300px;
  margin-bottom: 100px;
  transition: 1s;
}

.project-name ul li img:hover {
  transform: scale(1.5, 1.5);
}

/* CONTACT-ME */
.contact-me {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(224, 224, 224);
  padding: 40px;
}

.contact-me .judul-contact {
  width: fit-content;
  margin-left: 360px;
  font-size: 50px;
}

.contact-me .judul-contact span {
  color: rgb(40, 126, 165);
}

.contact-me form {
  width: 60%;
  margin: auto;
}

.contact-me form .labelS {
  display: block;
  color: rgb(36, 36, 36);
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
  padding-top: 30px;
}

.contact-me form .inputS {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(49, 49, 49);
  outline: none;
  transition: 0.5s;
  padding: 0 10px;
}

.contact-me form .inputS:focus {
  border-bottom: 2px solid rgb(253, 124, 4);
}

.contact-me textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
}

.dummy {
  padding: 30px;
  background-color: rgb(224, 224, 224);
}

@keyframes move-up {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes change-color {
  0% {
    color: rgb(255, 240, 106);
  }
  50% {
    color: rgb(253, 124, 4);
  }
  100% {
    color: rgb(255, 240, 106);
  }
}

@keyframes move-side {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, 0);
  }
  75% {
    transform: translate(-15px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes sizedown {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
    color: rgb(255, 240, 106);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* MEDIA QUERY TABLET */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }

  body h1 {
    padding-top: 35px;
    font-size: 23px;
  }

  /* ABOUT-ME */
  .about-me p {
    width: 80%;
    padding-bottom: 10px;
    font-size: 17px;
  }

  .about-me h1 {
    font-size: 37px;
  }

  .about-me img:hover {
    transform: scale(1.3, 1.3);
  }

  /* TABLE */
  .tabel-main {
    height: 100%;
    width: 100%;
    margin: 40px auto;
  }

  .tabel-main .tabel-isi {
    height: 100px;
    width: 80%;
    margin: 10px auto;
    text-align: center;
  }

  .tabel-isi tr {
    font-size: 15px;
  }

  .tabel-main .tabel-isi tr td {
    padding: 5px 5px;
  }

  /* UNTUK FOTO KODINGAN */

  .portfolio h1 {
    font-size: 23px;
  }

  .portfolio-foto ul li {
    display: inline;
    padding: 0 70px;
  }

  .portfolio-foto img {
    width: 80px;
    height: 80px;
    /* transition: 1s; */
    animation: move-up 3s infinite;
  }

  .portfolio-text {
    padding: 20px;
  }

  .portfolio-text ul {
    width: fit-content;
    margin: auto;
  }

  .portfolio-text ul li {
    display: inline;
    margin: 0 80px;
    font-size: 20px;
  }

  /* PROJECTS */
  .projects h1 {
    color: rgb(255, 255, 255);
    padding-top: 50px;
    margin-left: 100px;
    font-style: italic;
    font-size: 20px;
    color: rgb(255, 240, 106);
    transition: 1s;
    animation: change-color 5s infinite;
  }

  .projects .project-name {
    padding: 20px;
  }

  .project-name h3 {
    margin-left: 82px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 238, 86);
    transition: 1s;
  }

  .project-name h3:hover {
    color: rgb(253, 124, 4);
  }

  .project-name p {
    margin-left: 82px;
    font-size: 16px;
    color: rgb(235, 235, 235);
  }

  .project-name ul li {
    display: inline;
    padding-top: 20px;
    margin: auto 50px;
    font-size: 35px;
    font-weight: 400;
  }

  .project-name ul li img {
    border-style: solid;
    border-color: rgb(56, 56, 56);
    margin-top: 50px;
    height: 130px;
    width: 230px;
    margin-bottom: 100px;
    transition: 1s;
  }

  .project-name ul li img:hover {
    transform: scale(1.5, 1.5);
  }

  /* CONTACT - ME */
  .contact-me .judul-contact {
    width: fit-content;
    margin-left: 65px;
    font-size: 35px;
  }

  .contact-me form {
    padding-top: 20px;
    width: 80%;
    margin: auto;
  }

  .contact-me form .labelS {
    display: block;
    color: rgb(36, 36, 36);
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
  }

  .contact-me form .inputS {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(49, 49, 49);
    outline: none;
    transition: 0.5s;
  }

  .contact-me form .inputS:focus {
    border-bottom: 2px solid rgb(253, 124, 4);
  }

  .contact-me textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
  }

  .dummy {
    padding: 10px;
    background-color: rgb(224, 224, 224);
  }
}

/* MEDIA QUERY SMARTPHONE */
@media screen and (max-width: 500px) {
  /* ABOUT ME */
  .about-me img:hover {
    transform: scale(1.1, 1.1);
  }

  .about-me p {
    font-size: 15px;
    width: 80%;
    padding-bottom: 10px;
  }

  .about-me p span:hover {
    color: rgb(28, 145, 255);
    font-size: 22px;
  }

  .about-me h1 {
    font-size: 37px;
  }

  /* TABEL */
  .tabel-main {
    height: 100%;
    width: 100%;
    margin: 30px auto;
  }

  .tabel-main .tabel-isi tr {
    font-size: 13px;
  }

  .tabel-main .tabel-isi tr td {
    padding: 5px;
  }

  /* PORTFOLIO */
  .portfolio h1 {
    width: 80%;
    margin: auto;
    font-size: 24px;
  }

  .portfolio-foto ul li {
    display: inline;
    padding: 0 40px;
  }

  .portfolio-foto img {
    padding-top: 20px;
    width: 60px;
    height: 60px;
    /* transition: 1s; */
    animation: move-up 3s infinite;
  }

  .portfolio-text ul li {
    display: inline;
    margin: 0 53px;
    font-size: 18px;
  }

  /* PROJECT */
  .projects h1 {
    color: rgb(255, 255, 255);
    padding-top: 40px;
    margin-left: 45px;
    font-size: 18px;
  }

  .project-name h3 {
    margin-left: 26px;
    font-weight: bold;
    font-size: 13px;
  }

  .project-name p {
    margin-left: 26px;
    font-size: 15px;
  }

  .project-name ul li {
    display: inline;
    padding-top: 30px;
    margin: auto 30px;
    font-size: 35px;
    font-weight: 400;
  }

  .project-name ul li img {
    border-style: solid;
    border-color: rgb(56, 56, 56);
    margin-top: 50px;
    height: 80px;
    width: 160px;
    margin-bottom: 20px;
    transition: 1s;
  }

  .project-name ul li img:hover {
    transform: scale(1.5, 1.5);
  }

  /* CONTACT-ME */

  .contact-me .judul-contact {
    width: fit-content;
    margin-left: 15px;
    font-size: 25px;
  }

  .contact-me form {
    padding-top: 10px;
    margin: 15px;
  }

  .contact-me form .labelS {
    font-size: 15px;
    padding-top: 20px;
  }

  .contact-me textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
  }

  .dummy {
    padding: 5px;
    background-color: rgb(224, 224, 224);
  }
}
